<!DOCTYPE html>
<html>
<head>
  <title>Better Days |<%= @titre %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %> 
  <!-- empêche le cross-site request forgery (CSRF), un type d'attaque web malicieuse--> 
</head>
<body>

<%= yield %>

</body>
</html>
